<div class="p-4">
  
  <div class="flex flex-wrap gap-2 mb-4">
    
    <button
      (click)="applyFilter('popular')"
      class="px-3 py-1 text-sm font-medium rounded transition duration-300 relative"
      [class.text-red-600]="selectedFilter === 'popular'"
      [class.text-gray-300]="selectedFilter !== 'popular'"
    >
      Most Popular
      
      <span
        *ngIf="selectedFilter === 'popular'"
        class="absolute bottom-0 left-0 right-0 h-0.5 bg-red-600"
      ></span>
    </button>
    <button
      (click)="applyFilter('rated')"
      class="px-3 py-1 text-sm font-medium rounded transition duration-300 relative"
      [class.text-red-600]="selectedFilter === 'rated'"
      [class.text-gray-300]="selectedFilter !== 'rated'"
    >
      Most Rated
      
      <span
        *ngIf="selectedFilter === 'rated'"
        class="absolute bottom-0 left-0 right-0 h-0.5 bg-red-600"
      ></span>
    </button>
  
    
    <div class="flex flex-nowrap gap-2 overflow-hidden">
      <button
        *ngFor="let genre of visibleGenres"
        (click)="selectGenre(genre.id)"
        class="px-3 py-1 text-sm font-medium rounded transition duration-300 relative shrink-0"
        [class.text-red-600]="selectedGenreId === genre.id"
        [class.text-gray-300]="selectedGenreId !== genre.id"
      >
        {{ genre.name }}
        
        <span
          *ngIf="selectedGenreId === genre.id"
          class="absolute bottom-0 left-0 right-0 h-0.5 bg-red-600"
        ></span>
      </button>
    </div>
  
    
    <div *ngIf="hiddenGenres.length > 0" class="relative">
      
      <button
        (click)="toggleDropdown()"
        class="px-3 py-1 text-sm font-medium rounded transition duration-300 relative dropdown-button"
        [class.text-red-600]="false"
        [class.text-gray-300]="true"
      >
        
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="icon icon-tabler icons-tabler-outline icon-tabler-dots"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path d="M5 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" />
          <path d="M12 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" />
          <path d="M19 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" />
        </svg>
      </button>
      
      <div
        *ngIf="isDropdownOpen"
        class="absolute top-full left-0 mt-2 w-36 bg-black bg-opacity-95 shadow-lg rounded-md overflow-hidden z-10"
      >
        <button
          *ngFor="let genre of hiddenGenres"
          (click)="selectGenre(genre.id)"
          class="block w-full px-3 py-2 text-xs font-medium text-left text-white hover:bg-red-600 transition duration-300 border-b border-gray-700 last:border-b-0"
        >
          {{ genre.name }}
        </button>
      </div>
    </div>
  </div>

  
  <div class="grid grid-cols-2 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-8 gap-4">
    <div *ngFor="let item of items" class="group relative rounded-lg overflow-hidden bg-gray-800">
      <a [routerLink]="['/details', item.media_type || (item.title ? 'movie' : 'tv'), item.id]" class="block">
      
      <img
        [src]="item.poster_path ? 'https://image.tmdb.org/t/p/w500' + item.poster_path : 'assets/fallback.jpg'"
        alt="{{ item.title || item.name }}"
        class="w-full h-64 object-cover group-hover:scale-110 transition-transform duration-300"
        loading="lazy"
      />
      
      <div
        class="absolute bottom-0 left-0 right-0 bg-black bg-opacity-70 p-4 opacity-0 group-hover:opacity-100 transition-opacity duration-300 flex flex-col justify-between"
        style="min-height: 5rem; max-height: 8rem;"
      >
        
        <h2 class="text-sm font-bold text-white break-words line-clamp-3">
          {{ item.title || item.name }}
        </h2>
        
        <div class="flex items-center justify-between mt-2">
          
          <span class="text-xs text-gray-300">
            {{ item.media_type === 'tv' ? 'Series' : 'Movie' }}
          </span>
          
          <div class="flex items-center text-xs text-gray-300">
            
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="12"
              height="12"
              viewBox="0 0 24 24"
              fill="currentColor"
              class="text-red-600 mr-1"
            >
              <path
                d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"
              ></path>
            </svg>
            
            <span>{{ item.vote_average.toFixed(1) }}/10</span>
          </div>
        </div>
      </div>
    </a>
    </div>
  
    
    <div class="sentinel h-1 w-full"></div>
  </div>
</div>