
<div class="container mx-auto px-4 py-6">
  <h2 class="flex items-center text-white flex-wrap sm:flex-nowrap">
    
    <span class="hollow-text text-[4rem] sm:text-[8rem] font-bold mr-2 sm:mr-4 leading-none">TOP 10</span>
    
    <div class="inline-block text-left">
      <span class="block text-base sm:text-2xl font-bold">C O N T E N T</span>
      <span class="block text-base sm:text-2xl font-bold">T O D A Y</span>
    </div>
  </h2>
</div>


<section class="py-8 -mt-4">
  <div class="container mx-auto px-4">
    
    <div class="relative overflow-hidden">
      
      <button
        class="absolute top-1/2 left-0 transform -translate-y-1/2 bg-transparent text-white rounded px-2 h-64 flex items-center justify-center hover:bg-black hover:bg-opacity-50 transition duration-300 z-10"
        (click)="scrollLeft()"
      >
        
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="w-6 h-6"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path d="M13 20l-3 -8l3 -8" />
        </svg>
      </button>

      
      <div
        #carousel
        class="flex space-x-4 overflow-x-auto scrollbar-hide"
      >
      <div
      *ngFor="let movie of movies"
      class="min-w-[150px] group relative overflow-hidden rounded-lg shadow-md"
    >
      
      <img
        [src]="movie.poster_path ? 'https://image.tmdb.org/t/p/w500' + movie.poster_path : 'assets/fallback.jpg'"
        alt="{{ movie.title || movie.name }}"
        class="w-full h-64 object-cover group-hover:scale-110 transition-transform duration-300"
        loading="lazy"
      />
      
      <div
        class="absolute bottom-0 left-0 right-0 bg-black bg-opacity-70 p-4 opacity-0 group-hover:opacity-100 transition-opacity duration-300 flex flex-col justify-between"
        style="min-height: 5rem; max-height: 8rem;"
      >
        
        <h2 class="text-sm font-bold text-white break-words line-clamp-3">
          {{ movie.title || movie.name }}
        </h2>
        
        <div class="flex items-center justify-between mt-2">
          
          <span class="text-xs text-gray-300">
            {{ movie.media_type === 'tv' ? 'Series' : 'Movie' }}
          </span>
          
          <div class="flex items-center text-xs text-gray-300">
            
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="12"
              height="12"
              viewBox="0 0 24 24"
              fill="currentColor"
              class="text-red-600 mr-1"
            >
              <path
                d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"
              ></path>
            </svg>
            
            <span>{{ movie.vote_average.toFixed(1) }}/10</span>
          </div>
        </div>
      </div>
    </div>
      </div>

      
      <button
        class="absolute top-1/2 right-0 transform -translate-y-1/2 bg-transparent text-white rounded px-2 h-64 flex items-center justify-center hover:bg-black hover:bg-opacity-50 transition duration-300 z-10"
        (click)="scrollRight()"
      >
        
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="w-6 h-6"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path d="M11 4l3 8l-3 8" />
        </svg>
      </button>
    </div>
  </div>
</section>