@tailwind base;
@tailwind components;
@tailwind utilities;

/* Apply Netflix-like dark theme */
body {
  @apply bg-netflix-black text-white;
}

/* Optional: Add a subtle gradient overlay for hero sections */
.hero-overlay {
  @apply bg-gradient-to-b from-transparent via-netflix-gray to-netflix-black;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
  scrollbar-width: none; /* Hide scrollbar for Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
}


/* Custom Scrollbar Styles */
.custom-scrollbar::-webkit-scrollbar {
  width: 12px; /* Fixed width for vertical scrollbar */
  height: 12px; /* Fixed height for horizontal scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1); /* Semi-transparent track */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #950c0c; /* Dark red thumb color */
  border-radius: 10px; /* Fully rounded corners for the thumb */
  border: 2px solid transparent; /* Optional: Add a border for better contrast */
  background-clip: content-box; /* Ensure the border doesn't affect the thumb's size */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #b91c1c; /* Slightly brighter red on hover */
}

.custom-scrollbar {
  scrollbar-color: #950c0c transparent; /* Firefox thumb and track colors */
  scrollbar-width: thin; /* Thin scrollbar for Firefox */
  border-radius: 10px;
}

/* Hide scrollbar on mobile devices */
@media (max-width: 768px) {
  .custom-scrollbar::-webkit-scrollbar {
    display: none; /* Hide scrollbar on mobile */
  }
  .custom-scrollbar {
    scrollbar-width: none; /* Hide scrollbar on Firefox */
  }
}


.active-link {
  @apply hidden sm:flex items-center text-white bg-gradient-to-r from-red-500 to-red-700 border border-red-600 hover:from-red-600 hover:to-red-800 transition duration-300 px-3 py-1 rounded-full;
}

